body {
    background-color: beige;
}

.container {
    width: 500px;
}

.todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}